
.dropbtn {
  background-color: $main-color;
  border: none;
  font-size: 18px;
  font-family: 'Amatic SC', 'Clicker Script', 'Jacques Francois Shadow',
  'Rye', 'Sail', 'Stalemate', cursive;
  outline: none;
  cursor: pointer;
}
