header {
  background-image: url("../images/pnw3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 13%;
  margin: 0 auto;
  width: 90%;
  border-radius: 15px;
  @include flexy(flex, column, null, center);
  max-width: 1400px;
  padding-bottom: -18px;

}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.showAbout,
.showContact {
  display: block;
}

.clearfix {
  @extend %clearfix;
}

.rosie-pics {
  max-width: 1000px;
  margin: 0 auto;
  /* width: 90%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > a {
    margin: 12px;
    display: inline-block;
    @include mq(medium) {
      margin: 12px;
    }
    & > img {
      width: 150px;
      height: 150px;
    }
  }

}

footer {
  @extend %center;
  text-align: center;
  font-size: 12px;
}

.social-nav{
  @include flexy(flex, row, null, space-around);
  max-width: 800px;
  @extend %center;
  transform: scale(.7);
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;

}
