
header > p {
  color: $white;
  font-size: 3em;
  font-family: 'Amatic SC', 'Clicker Script', 'Jacques Francois Shadow',
  'Rye', 'Sail', 'Stalemate', cursive;
  text-align: center;
  text-shadow: -1px 2px 3px $black;
}

h1,h3 {
  margin-top: 2em;
  text-align: center;
  font-family: 'Amatic SC', 'Clicker Script', 'Jacques Francois Shadow',
  'Rye', 'Sail', 'Stalemate', cursive;
}

p {
  font-family: $raleway-font-stack, $lustria-font-stack, $helvetica-font-stack, sans-serif;
  font-weight: $font-weight--thin;
}

footer > a {
  text-decoration: none;
  color: $black;
  & > p {
    font-family: 'Amatic SC', 'Clicker Script', 'Jacques Francois Shadow',
    'Rye', 'Sail', 'Stalemate', cursive;
    display: inline-block;
    transition: all .2s;
    text-indent: 0px;
    &:hover {
      transform: scale(1.1);
    }
  }

}

.dropbtn {
  font-family: $raleway-font-stack;
  font-weight: $font-weight--thin;

}

.dropdown-content > a {
  font-family: $raleway-font-stack;
  font-size: 12px;
}

.lb-data,
.lb-caption {
  font-family: 'Amatic SC', 'Clicker Script', 'Jacques Francois Shadow',
  'Rye', 'Sail', 'Stalemate', cursive;
}
