* {
  box-sizing: border-box;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: lighten($main-color, 6%);

}

p {
  @extend %center;

  margin-bottom: 1em;
  margin-top: 1em;

}

a {
  text-decoration: none;
  color: $black;
}
